html{
    scroll-behavior: smooth;
}
a:link {
  text-underline-position: none;
}
.container{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: 50px auto auto auto auto auto auto auto auto;
  grid-template-columns: 10% auto 10%;
  width: auto;
}
body{
  font-family: 'Quicksand', sans-serif; /* Test for this*/
  margin: 0;
  padding: 0;
  font-size: 16pt; /* test for this! Make all sizes em or rem */
  /*background-image: url('../images/concrete_seamless.png');*/
  /*background-color: #b3cde0;*/
}
.banner {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to { opacity: 1 }
}

/*@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }*/

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;/*Your code here - position relative to the parent */;
  top:-40px;      /*Your code here - place 40px higher */;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 2;
}

.nav{
   z-index: 1;
   vertical-align: middle !important;
   /*grid-column: 2/-1;
   grid-row: 1/auto;*/
   display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
  /*Provided*/
  background-color: white;
  /*  padding-bottom: 20px;*/
  /*padding-top: 20px;*/
  text-align: right;
  /*margin-top: 25px;*/
    font-size: 21px;
    /*text-align: center;*/

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
  position: fixed; /* Set the navbar to fixed position */
  /*bottom: 0;*/ /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */

}
nav ul{
  list-style-type: none;
}
nav li{
  /*Your code here */
  padding-right: 30px;
  vertical-align: middle;
  display: inline;
}
nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}
nav a:hover{
  text-decoration: underline;
  -webkit-transition: 0.5s ease;
  /*text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px rgba(255,255,255,0.8),0 -4px 15px rgba(255,255,255,0.5);*/





}
.tiledBackground {
  /*background-image: url("../images/header_bg.jpg");*/
  background-size: 150px;
  max-width: 300px;
  /*height: 300px;*/
  /*border: 2px solid;*/
  /*color: pink;*/

}
nav img{
  background-color: white;

  justify-self: left;
  /*grid-column: 1/2;
  grid-row: 1/auto;*/
  max-height: 100px;
  -webkit-animation-name: logo-wiggle;
          animation-name: logo-wiggle;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.cai img{
  max-width: 100px;
    grid-column: 1/2;
    grid-row: 2/auto;
    /*justify-self: left;*/
    /*align-self: center;*/
    overflow: hidden;
}

/*.underbar{
  width: 0;
  height: 5px;
  background: rgba(100,100,200,0);
  //left: -50px;
  top: 20px;
  position: absolute;
  -webkit-transition: 0.5s ease;
}
li{
  width: 50px;
  float: left;
    -webkit-transition: 0.5s ease;

  &:hover{
    text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px rgba(255,255,255,0.8),0 -4px 15px rgba(255,255,255,0.5);
  }
  &:nth-of-type(1):hover ~ .underbar{
    left: 0;
    width: 40px;
    background: rgba(100,100,200,1);
  }
  &:nth-of-type(2):hover ~ .underbar{
    left: 50px;
    width: 40px;
    background: rgba(200,100,100,1);
  }
  &:nth-of-type(3):hover ~ .underbar{
    left: 100px;
    width: 40px;
    height: 1px;
    background: rgba(150,250,250,0.5);
    // box-shadow: 0 0 10px rgba(70,250,250,1);
  }
  &:nth-of-type(4):hover ~ .underbar{
    left: 150px;
    width: 50px;
    height: 1px;
    background: rgba(150,250,250,0.5);
    box-shadow: 0 0 10px rgba(70,250,250,1);
  }
  cursor: pointer;
}
*/
header{
  padding-top: 200px;
  background-attachment: fixed; /* Parallax effect */
  background-image: url("../images/background4.jpg");
  backface-visibility:
  /*opacity: 0.1;*/
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 600px;                /* Parallax effect */
  text-align: center;
  /*background-color: #b3cde0;*/
  /*display: grid;*/
  grid-column: 1/-1;
  grid-row: 2/auto;

}

/*.titleBackground {
  grid-row: 2/3;
  background-image: url("../images/background.jpg");
  opacity: 90%;
  transform: rotate(180deg);
  max-width: 300px;
  overflow: hidden;
}*/

h1{
  font-size: 100px;
  line-height: 1;
  padding-top: 30px;
  grid-column: 2/3;
  grid-row: 2/auto;
  text-align: center;
  color: white;

  vertical-align: center;
  justify-items: center;
  padding bottom: 30px;
  align-self: center;
  opacity: 1;
  /*background-color: #6497b1;*/
  /*background-color: rgba(100,151,177, .9);*/
-webkit-animation-timing-function: ease; animation-timing-function: ease;
 -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in;
}

header img{
  grid-column: 2/3;
  grid-row: 1/auto;
  max-height: 100px;
  padding-bottom: 50px;
}

header p{

  color: white;
  font-size: 24px;
  padding: 100 100px;
  padding-top: 10px;
  text-align: center;
  /*background-color: rgba(100,151,177, .1);*/
  grid-column: 2/3;
  grid-row: 2/auto;


  vertical-align: center;
  justify-items: center;
  padding-top:30px;
  align-self: center;
  /*background-color: rgba(100,151,177, .8);*/

}


h2{
  font-size: 32px;
  line-height: 1.5;
  -webkit-animation-timing-function: ease; animation-timing-function: ease;
 -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in;

}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
      grid-column: 2/3;
    grid-row: 3/auto;
    justify-self: center;
    overflow: hidden;
    max-width: 400px;
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}


h3{
  font-size: 20px;
  line-height: 1.5;
  padding-top: 30px;
  font-weight: bold;
}

p {
  padding: 0 30px;
  line-height: 50px;
  font-size: 16px;
}



.about{
  grid-column: 2/3;
  grid-row: 4/auto;
}

.about-image {

    /*border: 1px solid white;*/
    /*border-radius: 50%;*/
}

.about img{
  max-width: 400px;
}




.vlog{
  grid-column: 2/3;
  grid-row: 5/auto;
  margin: 5px;

  float: left;
  width: 180px;
}

/*.vlog:hover {
  border: 1px solid #777;
}
*/
a:focus{
  /*top:0px;*/
  border: 2px solid black;
}
/*.code here*/


  /*Add the selector and rule to move the skip link to the exact top. CHECK*/



 /*Your code here*/
/*.class:focus{
border: 2px solid black;

}*/

.skip a:focus{
  top:0px ;
  z-index: 1;
}

*:focus{
  border: 2px solid black;
}*/



/*Keyframes for animation

@-webkit-keyframes logo-wiggle{
  from {
    width: 20px;
  }
  to {
    width: 419px;
  }
}

@keyframes logo-wiggle{
  from {
    width: 20px;
  }
  to {
    width: 419px;
  }
}*/

#logo{
  -webkit-animation-name: logo-wiggle;
          animation-name: logo-wiggle;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.head{
  min-height: 150px;
  padding: 10px 50px;
}

@media screen and (min-width: 300px){

  /* Cards! */
  .pricing{
    min-height: 500px;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }

  .card {
    flex-basis: 400px;
    margin: 12px;
    background: #fff;
    border-radius: 7px;
    padding: 0 0 50px 0;
  }

  .card > header{
    background: #50C7C7;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-radius: 7px 7px 0 0;
  }

  .card > ul{
    list-style: none;
    padding: 0;
  }

  .card > ul li {
    width: 90%;
    margin: 20px auto;
  }

  .card button{
    width: 90%;
    height: 40px;
    border: 0;
    margin-left: 12px;
    border-radius: 7px;
    background: #45ADAD;
    color: white;
    font-size: 1em;
  }

  .card h3{
    font-size: 4em;
    color: white;
    text-align: center;
  }

  .card--big{
    -webkit-transform: initial;
            transform: initial;
  }

  /* Gallery! */

  .gallery{
    grid-column: 2/3;
    grid-row: 6/auto;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
            justify-content: center;
    min-height: 500px;
  }

  .gallery > img{
    border: 10px #50C7C7 solid;
    margin: 10px;
    width: 300px;
  }

  /* Navbar */

  .nav{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    background: #fff;
    border-bottom: 3px solid #50C7C7;
  }

  .nav-links{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    list-style: none;
  }

  .nav-item a{
    color: black;
    text-decoration: none;
  }

  .nav-item a:hover, a:focus{
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }

}
.contact{
  grid-column: 2/3;
  grid-row: 7/auto;

}

/*.iframe-container {
  display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
  overflow: hidden;
  // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
  padding-top: 56.25%;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.iframe-container iframe {

   border: 0;
   height: 100%;
   /*width: 100%;*/
   l/*eft: 0;
   position: absolute;
   top: 0;
   /*width: 200%;*/
  /* grid-column: 2/3;
   grid-row: 8/auto;
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;*/
  /*border: 0;*/




@media screen and (min-width: 850px){

 .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
 -webkit-transition: initial;
    transition: initial;
    z-index: 1;
  }
  .skip a:focus{
    top:0;
  }

  /* Cards! */
/*  .pricing{
    min-height: 500px;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }*/

/*  .card {
    flex-basis: 250px;
    margin: 12px;
    background: #fff;
    border-radius: 7px;
    padding: 0 0 50px 0;
  }*/

  .card > header{
    background: #50C7C7;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-radius: 7px 7px 0 0;
  }

  .card > ul{
    list-style: none;
    padding: 0
  }

  .card > ul li {
    width: 90%;
    margin: 20px auto;
  }

  .card button{
    width: 90%;
    height: 40px;
    border: 0;
    margin-left: 12px;
    border-radius: 7px;
    background: #45ADAD;
    color: white;
    font-size: 1em;
  }

  .card h3{
    font-size: 4em;
    color: white;
    text-align: center;
  }

  .card--big{
    -webkit-transform: scaleX(1.12);
            transform: scaleX(1.12);
  }

  /* Navbar */

  .nav{

    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: flex-end;
            align-items: flex-end;
    background: #fff;
    border-bottom: 3px solid #50C7C7;
    vertical-align: middle !important;
  }

.underbar{
  width: 0;
  height: 5px;
  background: rgba(100,100,200,0);
  //left: -50px;
  top: 20px;
  position: absolute;
  -webkit-transition: 0.5s ease;
  vertical-align: middle !important;
}

  .nav-links{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    list-style: none;
  }

  .nav-item a{
    padding: 10px;
    color: black;
    text-decoration: none;
  }

  .nav-item a:hover, a:focus{
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }

}

header{
  height: 450px;
}
@media print {
  img{
    display: none;
  }

  .navi{
    display: none;
  }

}
footer{
  background-color: white;
  color: white;
  grid-column: 1 / -1;
  grid-row: 9 / auto;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 50px;
}
